$colors: (
  background-color-base: #8fbfff, 
  header-bg-color: #1100ff, 
  text-color: #fff, 
  nav-bg-color: #333, 
  btn-hover-color: #537ff7, 
);

body {
    font-family: Arial, sans-serif;
    background-color: map-get($colors, background-color-base);
    margin: 0;
    padding: 0;
}

header {
    background-color: map-get($colors, header-bg-color);
    color: map-get($colors, text-color);
    text-align: center;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 20px;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    margin-left: 100px;
}

.menu-carrito {
    display: flex;
    align-items: center;
}
  
.menu-carrito button {
    background: none;
    border: none;
    color: inherit;
        &:hover {
        background: none; 
        color: inherit; 
    }
}

.menu-carrito img {
    width: 3em;
    height: 3em;
    animation: none !important;   
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem; 
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    text-align: center;
    font-weight: bold;
}

section {
    margin-top: 20px; 
}

@mixin center-block {
    display: block;
    margin: auto;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .producto-imagen {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 300px; 
    object-fit: cover; 
    margin-top: 40px;
    margin-bottom: 10px;
}

.img-fluid {
    animation: fade-in 1s ease-in-out forwards;
    transition: none !important;
        &:hover {
        transform: none !important;
    }
}

.portada {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

img {
    @include center-block;
    max-width: 100%;
    height: auto;
    margin: auto;
    animation: fade-in 1s ease-in-out forwards;
    transition: transform 0.5s ease;
    &:hover {
        transform: scale(1.05); 
    }
}

.precio-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    animation: fade-in 1s ease-in-out forwards;
    transition: transform 0.5s ease;
    &:hover {
        transform: scale(1.05); 
    }
}

.precio {
    display: inline-block;
    border: 2px solid map-get($colors, header-bg-color);
    background-color: lighten(map-get($colors, header-bg-color), 40%);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: map-get($colors, nav-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

.boton-contenedor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-agregar-carrito {
    background-color: map-get($colors, btn-hover-color); 
    color: map-get($colors, text-color);
    padding: 1px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    font-size: 17px;
    &:hover {
        background-color: map-get($colors, btn-hover-color); 
    }
    .carrito {
        width: 4em; 
        height: 4em; 
        margin-left: -10px;
    }
}

.talle-contenedor {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}

.talle-seleccion {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

nav {
    background-color: map-get($colors, nav-bg-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    color: #fff;
    font-size: 1.2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 30px;
    margin-bottom: 30px
}

form div {
    width: 100%;
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,

form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: map-get($colors, btn-hover-color);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}