$font-family-base: Arial, sans-serif;
$colors: (
background-color-base: #3b90ff,
header-bg-color: #1100ff,
text-color: #fff,
nav-bg-color: #333,
);

body {
    font-family: Arial, sans-serif;
    background-color: map-get($colors, background-color-base);
    margin: 0;
    padding: 0;
}

header {
    background-color: map-get($colors, header-bg-color);
    color: map-get($colors, text-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

h1, h2, p {
    text-align: center;
}

@mixin center-block {
    display: block;
    margin: auto;
}

img {
    @include center-block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

nav {
    background-color: map-get($colors, nav-bg-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    color: #fff;
    font-size: 1.2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}